<section id="cover">
    <div id="cover-caption">
        <h1>Requests Index</h1>
        <% @requests.each do |request|%>

        <li> <%= request.request_type%> and the status is <%= request.request_status%> </li>

        <% end%>

    </div>

</section>