<section id="cover">
    <div id="cover-caption">
        <h1>Salvation Request</h1>
        <h5>Submit your request now and get all the support you need </h5>
        <button type="button" class="btn btn-outline-dark btn-lg">Sign up</button>
        <button type="button" class="btn btn-dark btn-lg">Sign in</button>
    </div>

</section>