<nav class="navbar navbar-expand-lg navbar-dark ">
    <img src="https://lh3.googleusercontent.com/proxy/1P4jAQWSH1KazAw5SPtI7G4af6h4v1r6TSnyqngbM5NlGX3VAuW137zrhKwHvR8tHl-xx47ZQ5Du3F8HYuhiVM_E1-bW_4HA4cronXhMqNZBvh1TRGbozjQ" width="30" height="30" class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="#"> Salvation Request</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Username
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Sign out</a>
                </div>
            </li>

        </ul>

    </div>
</nav>